
{% extends 'flatpages/default.html' %}

{% load custom_censor %}

{% block title %}
News
{% endblock title %}

{% block content %}

   {% if is_not_subscriber %}
        <p class="tex_center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>

   {% else %}
        <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a></p>
   {% endif %}




   <h1>Новости:</h1>
   <h3> {{ next_sale|default_if_none:" Новости:" }} </h3>
   <h3>{{ time_now|date:'d M Y' }}</h3>


   <tr>
      <h2>Число статей: {{ category_news_list|length  }} </h2>
   </tr>

   {# Добавляем форму, которая объединяет набор полей и будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <hr>

   {% if category_news_list %}
       <table>


           <tr>

               <td>Сегодня:</td>
               <td>Заголовок:</td>
               <td>Краткое описание:</td>
               <td>Категория:</td>

               <td>Кол-во:</td>
               <td>Автор:</td>
               <td>Дата публикации:</td>

           </tr>
            {% for news in category_news_list %}

            <tr>
              <td>{{ news.article_title|censor }}</td>
              <td>{{ news.article_author }}</td>
              <td>{{ news.article_description|truncatechars:50|censor }}</td>

              <td>
                  {% for category in news.news_category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                  {% endfor %}
              </td>
              <td>{{ new.sort_date_of_publication|date:'h m d M Y' }}</td>

            </tr>
            {% endfor %}

       </table>

   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}



   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>

       {% if page_obj.previous_page_number != 1 %}

           ...

           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}

       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}

           ...

           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>


       {% endif %}
   {% endif %}

{% endblock content %}